/* -------------------------
Common style for all element
--------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    max-width: 1180px;
    padding: 0 15px;
    margin: auto;
}
img{
    width: 100%;
}


/* --------------
Header style here
-------------- */
.header{
    background-color: #fff4e7;
}


/* Menu */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.logo span{
    color: #FF900E;
}
.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    padding-left: 50px;
    font-size: 18px;
}
.menu a{
    text-decoration: none;
    color: #222;
}

/* Richtext */
.richtext{
    text-align: center;
    padding: 50px 0;
}
.richtext-title{
    font-size: 45px;
    margin-bottom: 25px;
    line-height: 55px;
    color: #131313;
}
.richtext-des{
    margin-bottom: 25px;
    max-width: 810px;
    margin: auto;
    color: #727272;
}
.richtext-button{
    margin-top: 50px;
}
.richtext-button a{
    background-color: #FF900E;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

/* Banner Image */
.hero-image{
    padding: 20px 0 50px;
}
.hero-image img{
    width: 100%;
    display: inherit;
}


/* Quick list section */
.quick-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quick-list-left{
    width: 55%;
}
.four-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quick-list-left-image {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}
.quick-list-left-image img{
    display: inherit;
    width: 100%;
}

.quick-list-right{
    width: 45%;
    padding-left: 65px;
}
.quick-list-title{
    font-size: 45px;
    margin-bottom: 25px;
    line-height: 55px;
    color: #727272;
}
.quick-list-title strong{
    color: #131313;
}
.quick-list-title span{
    color: #FF900E;
}
.quick-list-des{
    margin-bottom: 25px;
    color: #727272;
}
.quick-list-button{
    margin-top: 50px;
}
.quick-list-button a{
    background-color: #FF900E;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}


/* Features section style */

.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.features-title{
    font-size: 45px;
    font-weight: bold;
    line-height: 55px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #131313;
}
.features-des{
    color: #727272;
    margin-bottom: 30px;
}
.features-left{
    width: 48%;
    padding-right: 65px;
}
.feature{
    padding: 20px 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px #ccc;
    border-radius: 5px;
}
.feature-list-title{
    color: #131313;
    margin-bottom: 10px;
}
.feature-list-des{
    color: #727272;
}



.features-right{
    width: 50%;
    position: relative;
}

.feaures-label{
    display: inline-block;
    text-align: center;
    background: #FF900E;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    position: absolute;
    bottom: -50px;
    left: -50px;
}
.feaures-label h1{
    font-size: 45px;
}
.feaures-label p{
    font-size: 20px;
}




